*{
    margin: 0;
}
.banner{
    text-align: center;
    background-image: url("../images/donation13.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 1538px 90vh ;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    
    
   
}
.banner h1{
    width: 50%;
    margin: auto;
    margin-bottom: 10px;
}
.banner-title{
    color: white;
    width: 50%;
     margin: auto;
   
   
}
.btn{
    font-size:30px ;
    font-style: oblique;
    background-color: rgba(240, 12, 12, 0.999);
    margin-top: 10px;
    color: white;
    border: 1px;
    border-radius: 4px;
    
    
}

/* donate today */
.donate-today{
     text-align: center;
     font-family: sans-serif;
     width: 50%;
     margin: auto;
}

.donate-d{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width: 100%;
    height: 15vh;
    text-align: center;
    margin: 40px;
}
.child1{
    padding: 40px;
    background-color:rgb(227, 251, 251);
    font-size:25px ;
    font-weight:bold ;
    color:rgba(0, 0, 0, 0.927) ;
    margin-right: 10px;
}
.child2{
    padding: 40px;
    background-color:rgba(253, 197, 187, 0.758);
    font-size:25px ;
    font-weight:bold ;
    color:rgb(236, 50, 17) ;
    border-width: 2px;
    border-style: solid;
    border-color: tomato;
    margin-right: 10px;
   
}

.child3{
    padding: 40px;
    background-color:rgb(227, 251, 251);
    font-size:25px ;
    font-weight:bold ;
    color:rgba(0, 0, 0, 0.927) ;
    margin-right: 10px;
  

}
.child4{
    padding: 40px;
    background-color:rgb(227, 251, 251);
    font-size:25px ;
    font-weight:bold ;
    color:rgba(0, 0, 0, 0.927) ;
    margin-right: 10px;

}

.child5{
    padding: 40px;
    background-color: rgb(227, 251, 251);
    font-size:25px ;
    font-weight:bold ;
    color:rgba(0, 0, 0, 0.927) ;

}
.donate-title h2{
    margin-bottom: 30px;
}
/* main */
.donate-plan h2{
    margin-top: 90px;
    margin-bottom: 50px;
}
.donate-plan p{
    margin-bottom: 40px;
}
.donate-plan{
    width: 50%;
    margin: auto;
    text-align: center;
}
    
.donate-p-title{
    display: flex;
    flex-direction: row;
    justify-content:space-around;

}
.ch1{
    text-align: left;
    background-color:rgb(227, 251, 251);
    margin-right: 15px;
    padding: 10px;
    width: auto;
}
.ch2{
    text-align: left;
    background-color:rgb(248, 217, 222);
    margin-right: 15px;
    padding: 10px;

}
.ch3{
    text-align: left;
    background-color: cornsilk;
    padding: 10px;

}
 .donate-p-title img{
    margin:20px 
}
.donate-p-title h3 {
    margin-left:20px;
    margin-bottom: 20px;

}
.donate-p-title p {
    margin-left:20px;
    margin-bottom: 20px;
    
} 
/* donation */
.donation{
  display: flex;
  justify-content: space-around;
  margin-top: 90px;
}
.donation-pic{
   border-style: solid;
   border-color: white;
   border-width: 10px;
}
.donation-title h2{
  
    margin-bottom: 20px;
}
.donation-title{
    height: 400px;
    width: 600px;
    font-weight: 100px;
    font-size: larger;
    margin-left: 20px;
}
.para-d{
    margin-top: 30px;
    margin-bottom: 30px;
}
.button{
    font-size:20px ;
    font-style: oblique;
    background-color: rgba(240, 12, 12, 0.999);
    margin-top: 10px;
    color: white;
    border: 1px;
    border-radius: 4px;
    padding: 20px;

}
/* service */




